body{
    background-image: url(https://t3.ftcdn.net/jpg/06/54/78/64/360_F_654786405_iiCL35zkH9ublQTBRPntBV5gKhF2NA7T.webp);
    height: 100px;
}
#mydiv{
    background-color:  rgb(170, 233, 233);
    height: 500px;
    width: 500px;
}
.childdiv{
    background-color: rgb(211, 152, 152);
    height: 50%;
    width: 50%;
}

#mydiv1{
    background-color:  rgb(170, 233, 233);
    height: 500px;
    width: 500px;
    font-size: 100px;
}
.childdiv1{
    background-color: rgb(211, 152, 152);
    height: 1em;
    width: 2.5em;
}